.month__wrapper {
    width: 100%;
    display: flex;


}
.week__day__wrapper {
    display: flex;
    width: 150px;
    text-align: left;
    font-size: 20px;
    color: green;
    flex-direction: column;
}
